
// [colors.normal]
// red = "#585FB1"
// green = "#5573DE"
// yellow = "#9172A0"
// blue = "#3D81F9"
// magenta = "#5A8AFB"
// cyan = "#6998FE"
// white = "#c1c1c3"
// 
// [colors.bright]
// red = "#585FB1"
// green = "#5573DE"
// yellow = "#9172A0"
// blue = "#3D81F9"
// magenta = "#5A8AFB"
// cyan = "#6998FE"
// white = "#c1c1c3"
// 
// [colors.dim]
// red = "#585FB1"
// green = "#5A8AFB"
// yellow = "#9172A0"
// blue = "#3D81F9"
// magenta = "#5573DE"
// cyan = "#6998FE"
// white = "#565669"

// Pywal color theme

// Red
$red-light: #5A8AFB;
$red-dark: #5A8AFB;

// Pink
$pink-light: #6998FE;
$pink-dark: #6998FE;

// Purple
$purple-light: #5A8AFB;
$purple-dark: #5A8AFB

// Blue
$blue-light: #9172A0;
$blue-dark: #9172A0;

// Teal
$teal-light: #6998FE;
$teal-dark: #6998FE;

// Green
$green-light: #5A8AFB;
$green-dark: #5A8AFB;

// Yellow
$yellow-light: #5A8AFB;
$yellow-dark: #5A8AFB;

// Orange
$orange-light: #6998FE;
$orange-dark: #6998FE;

// Grey
$grey-050: #585FB1;
$grey-100: #5573DE;
$grey-150: #9172A0;
$grey-200: #3D81F9;
$grey-250: #585FB1;
$grey-300: #5573DE;
$grey-350: #9172A0;
$grey-400: #3D81F9;
$grey-450: #585FB1;
$grey-500: #5573DE;
$grey-550: #9172A0;
$grey-600: #3D81F9;
$grey-650: #585FB1;
$grey-700: #5573DE;
$grey-750: #9172A0;
$grey-800: #3D81F9;
$grey-850: #585FB1;
$grey-900: #5573DE;
$grey-950: #9172A0;

// White
$white: #c1c1c3;

// Black
$black: #070710;

// Button
$button-close: if($variant == 'light', $red-dark, $red-light);
$button-max: if($variant == 'light', $green-dark, $green-light);
$button-min: if($variant == 'light', $yellow-dark, $yellow-light);

// Link
$links: if($variant == 'light', #04a5e5, #99d1db);

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
